* {
    margin: 0;
    padding: 0;
}
header {
    /*height: auto;*/
    min-height: 45px;
    width: 100%;
    background-color: #27282c;
    z-index: 100;
    position: fixed;
}
header div {
    border: 1px solid red;
    margin-top: 5px;
}

/*header>div*/
.header-font {
    font-family: 'Cinzel', serif;
    font-size: 23px;
    color: #e0e8e8;
}

/*icon font*/
i {margin: 4px;}
.fa-search {
  font-size: 15px;
}

/*list*/
ul {
    list-style-type: none;
    top:0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: inline-block;
    color: #e0e8e8;
    text-decoration: none;
}
li a:hover, li a:active {
    color: #00c5cc;
}

.list-left {
    display: inline;
    float: left;
}
.list-center {
    display: inline;
    float: left;
    margin-left: 10%;
}
.list-center li {
    padding: 0 15px 0 15px;
}
.search-command {

}
.list-right {
    display: inline;
    float: right;
}

/*mobile*/
@media screen and (max-width: 320px) {
    .header-font {
        font-size: 20px;
    }
    header div {
        border: 1px solid greenyellow;
        margin-top: 9px;
    }
    .list-center {
        margin-left: 0;
    }
}

/*maybe tablet*/
@media screen and (min-width: 321px) and (max-width: 768px) {
    /* For mobile phones: */
    header div {
        border: 1px solid deepskyblue;
        margin-top: 5px;
    }
}