@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    border: solid 1px silver;
}

main {
    margin-top: 45px; /*Q:상단바에 맞춰서 내리게 할 순 없을까?jquery-resize*/
    min-height: 100px;
    padding-top: 5%;
    border: 3px dotted blue;
    font-family: 'Bitter', serif;
}

main div {
    border: 1px solid darkgray;
    font-family: 'Nanum Gothic', sans-serif;
}

/*form*/
.form {
    margin: 10px auto;
    max-width: 330px;
    height: 300px;
    border: solid 2px #577cbd;
    border-radius: 10px;
}

.form .form-title {
    padding: 10px;
    font-size: large;
    color: #27282c;
    text-align: center;
}

.form i {
    color: #00c5cc;
}

.form .form-content {
    color: #577cbd;
    min-height: 50%;
}
.form .form-content li {
    float: none;
    font-size: 18px;
    display: block;
}
.form .form-content li i {
    font-size: 30px;
    width: 20px;
    margin-left: 15%;
    margin-right: 3%;
    /*input영역의 하단 선에 맞출것*/
}
.form .form-content li input {
    position: relative;
    width: 55%;
    padding: 3px 15px;
    margin: 10px 0;
    background-color: #333333;
    border: transparent;
    color: #e0e8e8;
}
.form .form-content li button {
    margin: 3% 42%;
    padding: 3px 10px;
    background-color: #27282c;
    color: #e0e8e8;
}

.form .form-footer {
    padding: 2% 3%;
}


/*confirm:popup*/
.modal-header {
    background-color: #577cbd;
    color: white;
    cursor: default;
}

.modal-title, .modal-body p {
    font-size: 20px;
}

/*mobile*/
@media screen and (max-width: 320px) {

}

/*maybe tablet*/
@media screen and (min-width: 321px) and (max-width: 768px) {
    /* For mobile phones: */

}
